<%- include('../layout/head')%>
</head>

<body>
  <%- include('../layout/navigation')%>
  <h1>Server Error</h1>
  <p><%= message %><span> We're working on fixing this, sorry for the inconvenience!</span></p> <!-- Dynamically displays the error message -->
  <script>
    setTimeout(() => {
      window.location.href = '/';
    },  <%= typeof redirectDelay !== 'undefined' ? redirectDelay : 3000 %>);
  </script>
  <%- include('../layout/end')%>