<%- include('../layout/head')%>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
  <%- include('../layout/navigation') %>

  <main>
    <h1 style='text-align:center;'>Your Cart</h1>
    <% if (products.length >0) { %>
    <ul class='cart__item-list'>
      <%
        let totalQuantity = 0;
        products.forEach(product => {
          totalQuantity += product.quantity;
        });
      %>
      <p><%= totalQuantity %> items in your cart</p>
      <% products.forEach(product => { %>
      <li class='cart__item'>
        <!-- Sequelize allow us to access product's cart-item quanrtity value' -->
        <h1>
          <%=product.title%>
        </h1>
        <img src="<%=product.imageUrl%>" alt=<%=product.title%> width="100" height="100">
        <div>
          Quantity: <%=product.quantity%>
        </div>
        <form action='/cart-delete-item' method='POST'>
          <input type='hidden' name='productId' value='<%=product._id%>'>
          <button class='btn danger' type='submit'>
            DELETE
          </button>
        </form>
      </li>
      <% }) %>
    </ul>
    <div class='centered'>
      <form action='/create-order' method='POST'>
        <button type='submit' class='btn' style='margin-top: 2rem;'>Order Now!</button>
      </form>
    </div>
    <% } else { %>
    <h1>No products in Cart!</h1>
    <% } %>
  </main>

  <%- include('../layout/end')%>