<%- include('../layout/head')%>
<link rel="stylesheet" href="/css/cart.css">

</head>

<body>
  <%- include('../layout/navigation')%>
  <main>
    <ul class='cart__item-list'>
      <%
        let totalQuantity = 0;
        products.forEach(product => {
          totalQuantity += product.quantity;
        });
      %>
      <p><%= totalQuantity %> items in your cart</p>
      <% products.forEach(product => { %>
      <li class='cart__item'>
        <h1>
          <%=product.productId.title%>
        </h1>
        <img src="<%= product.productId.imageUrl %>" alt=<%=product.productId.title%> width="100" height="100">
        <div>
          Quantity: <%=product.quantity%>
        </div>
      </li>
      <% }) %>
    </ul>
    <div class='centered'>
      <h2>Total: $ <%= totalSum %></h2>
    </div>
    <div class='centered'>
      <button id='order-btn' class='btn'>ORDER</button>
      <script src="https://js.stripe.com/v3/"></script> <!-- Allows us to use stripe on client side instead of installing package -->
      <script>
        const stripe = Stripe('<%= STRIPE_PUB_KEY %>'); // Initialize Stripe object
        const orderBtn = document.getElementById('order-btn'); // Select the button on the EJS

        orderBtn.addEventListener('click', function(event) {
          // Stop submission default behaviour. Unless specified, button element is type='submit'
          event.preventDefault();

          // Redirect the user to Stripe Checkout using sessionId
          return stripe.redirectToCheckout({
            sessionId: '<%= stripeSessionId %>'
          });
        });
      </script>
    </div>
  </main>
  <%- include('../layout/end')%>