        <%- include('../layout/head')%>
        <link rel="stylesheet" href="/css/orders.css">
        </head>

        <body>
          <%- include('../layout/navigation')%>
          <main>
            <% if(errorMessage) { %>
            <div class='user-message user-message--error' id='error-message'><%= errorMessage %></div>
            <script>
              setTimeout(function() {
                document.getElementById('error-message').style.display = 'none';
              }, <%=FLASH_REMOVE_DELAY%>); // 5000 milliseconds = 5 seconds
            </script>
            <% } %>
            <% if (orders.length <= 0) { %>
            <h1>Nothing there!</h1>
            <% } else { %>
            <ul class="orders">
              <% orders.forEach(order => { %>
              <li class="orders__item">
                <h1>Order - # <%= order._id %> / <a href='/orders/<%= order._id %>' target='_blank' rel='noopener noreferrer'>Invoice</a></h1>
                <ul class="orders__products">
                  <% order.products.forEach(el => { %>
                  <li class="orders__products-item"><%= el.product.title %> (x<%= el.quantity %>)
                    <image style='width: 5%;' src='<%= el.product.imageUrl %>' />
                  </li>
                  <% }); %>
                </ul>
              </li>
              <% }); %>
            </ul>
            <% } %>
          </main>        <%- include('../layout/end')%>