<%- include('../layout/head')%>
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
  <%- include('../layout/navigation')%>
  <main>
    <form class="product-form" action="/admin/<%= editing ? 'edit-product' : 'add-product' %>" method="POST">
      <div class="form-control">
        <label for="title">Title</label>
        <input id="title" name="title" type="text" value='<%= editing ? product.title : ''%>' required />
      </div>
      <div class="form-control">
        <label for="imageUrl">Image URL</label>
        <input id="imageUrl" name="imageUrl" type="text" value='<%= editing ? product.imageUrl : 'https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png' %>' required />
      </div>
      <div class="form-control">
        <label for="price">Price</label>
        <input id="price" name="price" type="number" step="0.01" value='<%= editing ? product.price : ''%>' required />
      </div>
      <div class="form-control">
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="6" required><%= editing ? product.description : ''%></textarea>
      </div>
      <% if(editing) { %>
        <input type="hidden" name="productId" value="<%= product.id %>">
      <% } %>
      <button type="submit"><%= editing ? 'Edit' : 'Add' %> Product</button>
    </form>
  </main>
  <%- include('../layout/end')%>