<%- include('../layout/head')%>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../layout/navigation')%>
  <main>
    <% if(errorMessage) { %>
    <div class='user-message user-message--error' id='error-message'><%= errorMessage %></div>
    <% } %>
    <% if(sessionInitError) { %>
    <div class='user-message user-message--error' id='error-message'><%= sessionInitError %></div>
    <% } %>
    <form class="login-form" action="/login" method="POST" novalidate>
      <div class="form-control">
        <label for="email">E-mail</label>
        <input id="email" name="email" type="email" value='<%= oldInput.email %>' class='<%= validationErrors.find(error=> error.path === 'email') ? 'invalid': '' %>' required />
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" value='<%= oldInput.password %>' class='<%= validationErrors.find(error=> error.path === 'password') ? 'invalid': '' %>' required />
      </div>
      <input type='hidden' name='_csrf' value='<%= csrfToken %>' />
      <button class='btn' type="submit">Login</button>
    </form>
    <div class='centered'><a href='/reset'>Reset Password</a></div>
  </main>

  <%- include('../layout/hideFlash')%>

  <%- include('../layout/end')%>