<%- include('../layout/head')%>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../layout/navigation')%>
  <main>
    <% if(errorMessage) { %>
    <div class='user-message user-message--error' id='error-message'><%= errorMessage %></div>
    <% } %>
    <% if(sessionInitError) { %>
    <div class='user-message user-message--error' id='error-message'><%= sessionInitError %></div>
    <% } %>
    <form class="login-form" action="/new-password" method="POST">
      <div class="form-control">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" required />
      </div>
      <input type='hidden' name='_csrf' value='<%= csrfToken %>' />
      <input type='hidden' name='userId' value='<%= userId %>' />
      <button class='btn' type="submit">Update Password</button>
    </form>
  </main>

  <%- include('../layout/hideFlash')%>

  <%- include('../layout/end')%>